.search-result-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    @include mobile-margin;
    .card {
        margin: 16px 8px;
    }
}

.result-page-top {
    @include mobile-margin;
    .container {
        margin: 24px 0 8px;
    }
    select {
        margin: 0;
    }
}
.search-top-text {
    margin-top: 16px;
    display: flex;
    flex-direction: column;
    div{
        display: flex;
    }
    h1 {
        color: $primary-color;
        margin-top: 24px;
    }
    img {
        height: 48px;
    }
    h2 {
        text-align: right;
    }
}
