h1 {
    font-size: 1.5rem;
    @include fonts;
    color: #fff;
    font-weight: 400;
}
h2 {
    font-size: 1rem;
    @include fonts;
    color: $secondary-color;
    font-weight: 700;

}
h3 {
    color: $dark-background;
    size: 1rem;
    @include fonts;
    font-weight: 400;
}
p {
    font-size: 1rem;
    line-height: 1.3rem;
    font-family: $secondary-font;
    font-weight: 400;
}