$primary-color: #3B68BC;
$secondary-color: #012447;
$light-background: #f7f7f7;
$medium-background:#dfdfdf;
$dark-background:#464646;
$main-font:'Fira Sans', sans-serif;
$secondary-font:'Noto Serif', serif;
$border-default:1px solid $medium-background;
$main-shadows: 2px 2px 5px rgba(1, 36, 71, 0.25);
$blue-trans-back-desk-width: 600px;
$blue-trans-back-desk-height: 224px;


// Small tablets and large smartphones (landscape view)
$screen-sm-min: 576px;

// Small tablets (portrait view)
$screen-md-min: 768px;

// Tablets and small desktops
$screen-lg-min: 992px;

// Large tablets and desktops
$screen-xl-min: 1200px;